<!-- <div class="container d-flex  input-group mb-3"> -->
    <!-- <form action="/result" method="post">  -->

        <!-- <div class="laughs_shop">
            <label>Laughs:</label>&nbsp;
            <input type="text" id="laughs_product_url" name="laughs_url" size="50" placeholder="product link" required/>
        </div>
    
        <div class="glomark_shop">
            <label>Glomark</label>&nbsp;
            <input type="text" id="glomark_product_url" name="glomark_url" size="50" placeholder="product link" required/>
        </div>
    
    
        <div id="submit_btn">
            <button type="submit">Submit</button>
        <button type="submit" onclick="getURLs();">Submit</button> -->
    
<!-- </div> -->




<!-- <script>

    function getURLs(){
        var laughs_product_url = document.getElementById("laughs_product_url").value;
        var glomark_product_url = document.getElementById("glomark_product_url").value;
        console.log(laughs_product_url)
        console.log(glomark_product_url)
        // shop1 = shop1URL.slice(38)
        // shop2 = shop2URL.slice(19)

        // sessionStorage.setItem("shop1", shop1);
        // sessionStorage.setItem("shop2", shop2);

        console.log('laughs:', laughs_product_url)
        console.log('glomark:', glomark_product_url)


        var dict_values = {laughs_product_url, glomark_product_url}
        var shop_product_urls = JSON.stringify(dict_values);
        // console.log(shop_product_urls);
        // console.log(Object.values(dict_values)[0]);
        // console.log(Object.values(dict_values)[1]);

    }
</script> -->





<div class="shop_urls">


</div>


<script>
    // var shop1 = sessionStorage.getItem("shop1")
    // var shop2 = sessionStorage.getItem("shop2")

    // console.log("passed values from index.html")
    // console.log('laughs:', shop1)
    // console.log('glomark:', shop2)
  

</script>